/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
}

.custom_footer {
  position: absolute;
  bottom: 0;
}

 /* ---------------------------- custom css ------ */
.right
{
    position:absolute;
    right:0px;
}

.box {
  transition: box-shadow .3s;
}
.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.bg-dark{
  /* onyx */
  background-color: #37393a;
  color: #e8eef2;
}

.bg-dark-link{
  /* onyx */
  background-color: #37393a;
  color: #e8eef2;
}

.bd-dark-link:hover{
  /* +10 brigthness onyx */
  background-color: #4f5254;
}

.bg-light-custom{
  /* glitter */
  background-color: #e8eef2;
}

.bg-primary-custom{
  /* aero */
  background-color: #77b6ea;
}

.bg-secondary-custom{
  /* Columbia blue */
  background-color: #c7d3dd;
}

.bg-third-custom{
  /* Dust Storm */
  background-color: #d6c9c9;
}
.color-black{
  color: black;
}

.color-white{
  color: white;
}

.color-primary{
  /* aero */
  color: #77b6ea;
}

.color-secondary{
  /* Columbia blue */
  color: #c7d3dd;
}

.color-third{
  /* Dust Storm */
  color: #d6c9c9;
}
