<!DOCTYPE html>
<html lang="de" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>
        Penta Tournament{% if title is defined -%} {{ title }} {% endif -%}
    </title>
    {# Style imports #}
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

    <!-- Custom Style and more -->
    <link href="/static/css/custom.css" rel="stylesheet">
    <link hreF="/static/css/simplemde.min.css" rel="=stylesheet">

    <!-- JS stuff -->
    <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/static/js/simplemde.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap-slect.min.js" type="text/javascript"></script>
    <script src="/static/js/popper.min.js" type="text/javascript"></script>
    {% block advanced_head -%}{% endif -%}
</head>
{% block jquery %}
<script>
    $(document).ready(function() {
        $("select").selectpicker();
    });
    var flashMessage = function(data) {
        html = '<div class="alert alert-secondary alert-dismissible fade show" role="alert">' + data.message + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
        $('#flash').append(html);
        return data;
    };
</script>
{% endblock %} {% block advanced_jquery -%} {% endblock -%} {% block navbar -%}
<nav class="nav">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#">Tournaments</a>
        </li>
        <li class="nav-item nav-brand">
            <a class="text-muted" href="{{ url_for('index') }}"><img src="/static/pentagon.svg" class="img-responsive"></img>
                <!-- Brand Icon made by https://svgsilh.com/image/159046.html under Creative Commons CC0 -->
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Penta Game</a>
        </li>
    </ul>
</nav>
{% endblock -%}
<div id="flash">


</div>


<body>
    <div class="container">
        {% block content -%} {% endblock -%}
    </div>
</body>

</html>